@import "./color_schemes/dark";

$body-background-color: #111113;
$body-heading-color: #f4f4f5;
$body-text-color: #d4d4d8;
$link-color: #c4b5fd;
$nav-child-link-color: #a1a1aa;
$sidebar-color: #18181b;
$base-button-color: #27272a;
$btn-primary-color: #a78bfa;
$code-background-color: #0c0c0e;
$code-linenumber-color: #a1a1aa;
$feedback-color: #18181b;
$table-background-color: #18181b;
$search-background-color: #27272a;
$search-result-preview-color: #d4d4d8;
$border-color: #3f3f46;
